body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#wrapper{

}
#playing-area{
  width:845px;
  height:635px;
  margin:0px auto;
  border:1px solid #000000;
}
#playing-area > div{
  width:200px;
  height:200px;
  margin:5px;
  display:inline-block;
  float:left;
  background-image: url(../images/bkgd.jpg);
  border-radius: 10px;
}
.card > img{
  border-radius: 10px;
}

/*.showImage img, .match img{display:block;}*/
.showImage img, .match img{display:block !important;}
